/* index.css */
.App {
  text-align: center;
  position: absolute;
  width: 400px; /* Set a fixed width */
  height: 300px; /* Set a fixed height */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background for better visibility */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 10px; /* Add rounded corners */
  font-size: 1.2em; /* Increase font size */
  font-family: Arial, sans-serif; /* Change font to Arial */
  cursor: move; /* Change cursor to indicate draggable */
  z-index: 10; /* Ensure it is above the background */
}

.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./frontend/background.PNG');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Adjust the opacity value as needed */
  z-index: -1;
}

/* Make the .App element draggable */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App-header {
  cursor: move;
  user-select: none;
}